.body {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 600px;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.navlist {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; 
}

.navitem {
  margin-left: 20px;
}

.navlink {
  color: #fff;
  text-decoration: none;
}
.form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 700px;
  font-family: "Montserrat", sans-serif;
}

.input {
  border: 1px solid #050505; 
  border-radius: 4px; 
  padding: 12px;
  margin-bottom: 12px;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;

}

.button:hover {
  background-color: #45a049;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.titulo {
  color: white;
}